*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgba(211, 211, 211, 0.342);
}

header{
    background: rgba(96, 135, 172, 0.164);
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 18vh;
    border-radius: 5em;
    padding: 8px;
}

h1{
    color: rgba(0, 0, 0, 0.63);
    text-align: center;
    flex-grow: 1;
}

h1 .html{
    color: rgb(243, 71, 71);
}

h1 .css{
    color: rgb(0, 132, 255);
}

nav ul{
    background: rgb(56, 40, 19);
    border-radius: 5px;
    display: flex;
    margin: 5px 10px 5px 10px;
    justify-content: center;
    align-items: center;
    height: 10vh;   
}

ul li{
    text-align: center;
    list-style-type: none;
    margin: auto;
}

li a{
    color: white;
    text-decoration: none;
}

ul li:hover{
    width: 15vh;
    height: 4vh;
    border-radius: 10px;
    background: rgba(104, 66, 41, 0.575);
}

@media (max-width: 500px)  {
    nav ul{
        flex-direction: column;
        height: 25vh;
    }
    ul li{
        border-top: 1px solid rgba(255, 255, 255, 0.459);
    }

    ul li:first-child{
        border: none;
    }
    ul li a{
        display: inline-block;
        margin: 4px;
    }
}

main{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 3;
    margin: 10px
}

article h2{
    text-align: center;
    color: rgba(94, 47, 9, 0.815);
    background: rgba(0, 128, 0, 0.63);
    border-radius: 10px;
    margin: 0px 0px 5px 0px;
}

.seccion1 ,
.seccion2{
    display: flex;
    padding: 10px;
    background: rgba(165, 42, 42, 0.459);
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
}

.seccion1 img,
.seccion2 img{
    padding: 5px;
    width: 25vh;
    border-radius: 1em;
}

.seccion1 p,
.seccion2 p{
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: auto;
}
}

@media (min-height: 300px) and (max-height: 550px){
    main{
        flex-direction: column;
    }
}

aside{
    text-align: center;
    padding: 10px;
    flex: 1;
    margin: 5px 10px 5px 10px;
    background: rgba(214, 168, 168, 0.514);
    border-radius: 1em;

}

aside h2{
    margin-bottom: 5px;
    color: #91ac7cea;
}

aside img{
    border-radius: 15em;
}

aside p{
    margin-top: 1em;
    font-weight: bold;
    margin: auto;
}

footer{
    height: 65px;
    margin: 0px 10px 10px 10px;
    background-color: rgba(255, 99, 71, 0.726);
    border-radius: 5px;
}

footer p{
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

footer p:first-child{
    padding: 10px;
    text-align: center;
}

footer p:last-child{
    text-align: center;
}